@import './reset.css';
@import './theme.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

main {
  margin: 12%;
}

h1 {
  color: red;
}